{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>
      </div>
      <form method="POST" action="/users/favorite/{{ message.id }}">
        {{ g.csrf_form.hidden_tag() }}
        <span class="messages-like-bottom">
          <button type="submit">
            {% if message.favorite[0] in g.user.favorites %}
              <i class="bi bi-star-fill"></i>
            {% else %}
              <i class="bi bi-star"></i>
            {% endif %}
          </button>
        </span>
     </form>
    </li>
    {% endfor %}

  </ul>
</div>
{% endblock %}